.main
{
    width: 900px;
}

.ra
{
    margin-left: 320px;
    width: 900px;
}

.coursework
{
    margin-top: 100px;
    margin-left: 320px;
    width: 900px;
}

.andar
{
    margin-left: 70px;
}


.pl
{
    width: 500px;
    height: 500px;
    background-color: red;
}
/* .mal
{
    margin-left: 350px;
}

.cen
{
    margin-left: 680px;
} */

.internship
{
    margin-left: 320px;
    width: 900px;
}



/* .endboard


{
    background-color:#f5f9f8;
    display: flex;
    width: 1600px;
    height: 1000px;
    border-style: inherit;
    border-color: #050505;
  }

.leftpart
{
    padding: 15px;
    width: 945px;
    height: 1000px;
    margin-left: 25px;
}

li
{
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
}

ul
{
    padding: 2px;
    font-size: 20px;
}

.rightpart
{
    padding: 15px;
    width: 840px;
    height: 900px;
}
.andar
{
    margin-left: 60px;
}
.left_andar 
{
    margin-left: -30px;
}

.left1_andar *
{
    padding:1px;
    margin-left: 6px;
}
.left2-andar *
{
    padding: 1px;
    margin-left: 6px;
}

ol
{
    font-size: 10px;
}

h2
{
    font-size: 20px;
}
mark
{
    background-color: rgb(238, 219, 5);
}

.vl 
{
    border-left: 6px solid rgb(192, 212, 192);
    height: 1500px;
  } */