

.first-left
{
    padding: 2px;
    margin-left: 20px;
    margin-top: 10px;
}

.first-second
{
    margin-left: 130px;
    width: 1300px;
}

h3{
    padding:13px;
    margin-left: 550px;
}

h2{
    margin-left: 20px;
}

.edit
{
    margin-left: 1000px;
}

.pop
{
    margin-left: 95px;
}

.dysl
{
    margin-left: 35px;
}